.step-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  height: 25px;
  padding: 10px;

  .check-wrapper {
    display: inline-block;
  }

  .complete-icon {
    width: 16px;
  }

  .title {
    display: inline;
    margin-left: 5px;
    font-size: 1.1rem;
  }
}

.step-list-item:not(:last-child) {
  border-bottom: 2px solid black;
}
